---
import Layout from "@/layouts/main.astro"
import AppDownloadCTA from "@/components/AppDownloadCTA.astro"
---

<Layout title="Home - T HAZLO">
  <div class="flex min-h-svh p-6">
    <AppDownloadCTA />
  </div>
</Layout>
