---
import { StoreButton } from "@/components/ui/store-button"
---

<section class="section-wrapper flex justify-center pb-24">
  <div
    class="w-full rounded-3xl border-muted-foreground bg-foreground p-8 shadow dark:bg-muted/30"
  >
    <StoreButton platform="apple" storeVariant="outline" />
  </div>
</section>
