---
import { buttonVariants } from "@/components/ui/button"
import { cn } from "@/lib/utils"
---

<a
  href="/download"
  class={cn(
    buttonVariants({
      size: "lg",
      animate: "slide",
    }),
    "shadow-lg shadow-primary/20"
  )}
>
  Download App
</a>
