---
import { buttonVariants } from "@/components/ui/button"
import { cn } from "@/lib/utils"
import { ChevronRight } from "@lucide/astro"
---

<a
  href="/contact"
  class={cn(buttonVariants({ variant: "outline", size: "lg" }), "border")}
>
  Contact us
</a>
<a
  href="/download"
  class={cn(
    buttonVariants({
      size: "lg",
      animate: "slide",
    }),
    "shadow-lg shadow-primary/20"
  )}
>
  Get the App
  <ChevronRight />
</a>
