---
interface Props {
  label: string
  isMain?: boolean
}

const { label, isMain = false } = Astro.props
---

<div class="mx-auto flex max-w-4xl flex-col items-center space-y-4 text-center">
  <p
    data-aos="fade-up"
    data-aos-delay="100"
    class="text-lg font-medium tracking-wide text-primary uppercase"
  >
    {label}
  </p>
  {
    isMain ? (
      <h1 data-aos="fade-up" data-aos-delay="200" class="section-title">
        <slot />
      </h1>
    ) : (
      <h2 data-aos="fade-up" data-aos-delay="200" class="section-title">
        <slot />
      </h2>
    )
  }
</div>
